{% extends 'base.html' %}
{% block title %} HOME {% endblock title %}



{% block body %}
<div class="container-fluid my-4 px-0"

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/1.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d none d-md-block">
      <h5>Welcome to MY-TODO and explore yourself by saving time with us and putting your efficient time in proper use</h5>
    </div>
  </div>
    <div class="carousel-item">
      <img src="/static/2.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d none d-md-block">
      <h5>Welcome to MY-TODO and explore yourself by saving time with us and putting your efficient time in proper use</h5>
    </div>
    </div>
    <div class="carousel-item">
      <img src="/static/tree.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d none d-md-block">
      <h5>Welcome to MY-TODO and explore yourself by saving time with us and putting your efficient time in proper use</h5>
    </div>
    </div>
  </div>
</div>
</div>





<div class="container" my-4>
  <h1 class="my-4 text-center"> select the type of to-do list you need</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/3.jfif" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>



        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/tree.jpg" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>



        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/4.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>


       

        


        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/10.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>



        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/9.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>


        


        <div class="col">
          <div class="card shadow-sm">
          <img src="/static/7.png" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}



     